<html>
    <head>
        <%- include('head'); %>
    </head>
    <body>
        <h1>Piero's Blog</h1>
        <h2 id="contents">Contents</h2>
        <ul>
            <li><a href="#nerd">Nerd Stuff</a></li>
            <li><a href="#posts">Actual Posts</a></li>
        </ul>
        <h2 id="nerd">Nerd Stuff</h2>
        <h2 id="posts">Actual Posts</h2>
    </body>
</html>